<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tienda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TIENDA">
        <activity android:name=".UsuarioHistorialProductoActivity"></activity>
        <activity android:name=".ClienteHistorialPedidoActivity" />
        <activity android:name=".EditarPedidoProductoActivity" />
        <activity android:name=".EditarClienteAdmiActivity" />
        <activity android:name=".CrearClienteActivity" />
        <activity android:name=".ClientePedidoActivity" />
        <activity android:name=".EditarClienteActivity" />
        <activity android:name=".AgregarProductoPedidoActivity" />
        <activity android:name=".UsuarioProductoActivity" />
        <activity android:name=".MenuUsuarioActivity" />
        <activity android:name=".CrearEmpleadoActivity" />
        <activity android:name=".EditarEmpleadoActivity" />
        <activity android:name=".CrearProductoActivity" />
        <activity android:name=".EditarProductoActivity" />
        <activity android:name=".ClienteGestionActivity" />
        <activity android:name=".PedidoGestionActivity" />
        <activity android:name=".EmpleadoGestionActivity" />
        <activity android:name=".ProductoGestionActivity" />
        <activity android:name=".MenuOpcionActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>